
* {
    box-sizing: border-box; 
}

body {
    width: 1920px;
    font-family: 'Roboto', 'Arial', sans-serif;
}


header {
    background-color: #EEEFF1;
}

.container {
    max-width: 1140px;
    min-height: 700px;
    margin: 0 auto;
}

nav {
    padding-top: 79px;
}

a {
    text-decoration: none;
}

.shapka {
    padding-top: 196px;
}

nav>span { 
    padding-right: 20px;
    font-weight: 500;
}

h1 { 
    padding-bottom: 25px;
    font-weight: 500;
}


.button {
    color: white;
    cursor: pointer;
    text-decoration:none;
    font-weight: 400;
    background-color: #34547A;
    padding: 20px 40px;
    max-width: 225px;
}

.info {
    background-color: #FFFF;
    text-align: center;
    width: 540px;
    max-width: 1140px;
    margin: 0 auto;
    
}


.grey {
    color: #727272;
    font-weight: 400;
    padding-bottom: 30px;
    width: 540px;
    font-weight: 400;
}

h2 {
    padding-top: 80px;
    font-weight: 500;
}

.icon-Group {
    font-weight: 200;
    color: #FFFFFF;
    font-family: icomoon;
    margin: 15px;
    width: 50px;
    height: 50px;
}


.container1 {
    background-color: #34547A;
    min-height: 250px;
}

ul {
    max-width: 1140px;
    margin: 0 auto;;
}

li {
    display: inline-block;
    padding: 20px;
    text-align: center;
   
}

.no {
    font-weight: 500;
}
.img {

    display: inline-block;
    padding-top: 100px;
}


.describe {
    display: inline-block;

}

.describe>strong {
    display: block;
    font-weight: 500;
    text-align: left;
}

.describe>span {
    font-weight: 400;
}

footer {
    background-color: #34547A;
    margin-top: 60px;
}

.describe1 {
    max-width: 1140px;
    margin: 0 auto;
    color: #FFFFFF;
}

.info2 {
    text-align: center;
    width: 540px;
    max-width: 1140px;
    margin: 0 auto;
}

footer {
    height: 151px;
    margin-top: 0;
}

.describe1>strong {
    padding-top: 50px;
    display: block;
    font-weight: 500;
    text-align: left;
    
}

.describe1>span {
    font-weight: 400;
    padding-top: 20px;
    display: block;
}